<div class="inset">
    <h2>What can we do for you?</h2>
    <form action="mailer.php" method="post" class="contact">
        <label>Name: </label>
        <input type="text" name="nam" class="name_input">
        <label>Company: </label>
        <input type="text" name="dukan" class="company_input">
        <label>Phone: </label>
        <input type="text" name="fon" class="phone_input">
        <label>Email: </label>
        <input type="text" name="dak" class="email_input">
        <span class="hidden">
            <label>Please leave this line blank: </label>
            <input type="text" name="name">
        </span>
        <label>Message: </label>
        <textarea name="message" rows="12" cols="30" class="message_input"></textarea>
        <input type="submit" name="submit" value="Submit"  class="submit_input">
        <div class="row"></div>
    </form>
</div>