<div class="row footer small">
    &copy;2011 Portable-Dyno<br>
    207-370-5440<br>
    <a href="/event.html">Contact</a> : <a href="/dyno.html">About</a> : <a href="/faq.html">FAQ</a> : <a href="/pictures/index.html">Gallery</a>
</div>
<div class="row"></div>