<div class="row">
    <%= link_to root_path do %>
        <div class="inside_marquee">
            <h1>Portable Dyno</h1>
        </div>
    <% end %>
    <div class="marquee_id">
        <h2><%= @marquee_title %></h2>
    </div>
    <div class="inside_number"><%= PHONE %></div>
</div>