<div class="b10column box">
    <h2>Dyno Dynamics 450DS eddy current steady state single axle chassis dynamometer.  
        More than just horsepower and torque readings
    </h2>
    <p>Traditional inertia style dynos were designed to reliably measure horsepower and torque.  
       Using such equipment would allow the tuner to try different modifications on engines 
       and subsequent systems and see direct results with varied accuracy.
    </p>
    <p>With an <a href="http://en.wikipedia.org/wiki/Dynamometer#Eddy_current_type_absorber">
       eddy current steady state dyno</a>, the tuning features have broadened.
    </p>   
    <p>Steady state tuning-  You can have the dyno hold your car at any RPM.  This 
             comes in VERY handy when setting up a new fuel map on an after market ECU.  
             Set the dyno at the desired RPM in conjunction with the real time wide band AFR 
             lambda sensor and you can step tune your car all the way up the RPM spectrum to the 
             desired stoichiometric value safely and reliably.
    </p>
    <p>Engine and drive train break in-  When you bolt up that new engine to your new gear box and drive 
            line it's very difficult to stay under the revs until it's properly broken in.  How many times have 
            you been out for a short easy ride only to stop at a red light and have that other brand car pull 
            up next to you wanting to have a go.  With the eddy current dyno you can set the load, ramp up and ramp 
            down speed parameters to safely break in your engine under real world load simulation's without going 
            over the desired revs until everything's seated itself properly.  Also having the ability to safely 
            walk around the front of the car and check for any leaks or loose fittings under the hood while the 
            car is going 50mph is a spiffy feature not easily achieved without a dyno.
    </p>
    <p>Like an elephant-  The dyno saves all customer runs.  So you install some headers and an intake this year and 
            have your car dyno'ed.  Then over the winter you install that huge exhaust, cam, massive CFM carb or a super 
            charger.  When you dyno the car again we can pull up your previous runs and overlay them for comparison's 
            sake and see how you've done.  You'd be surprised how many modifications end up hurting performance 
            rather than improving it.
    </p>
    <br>
    <h2>Now for some features</h2>    
    <b>Ideal for diagnosis and performance work on the following:</b>
    <ol><li>Rear wheel drive</li>
        <li>Front wheel drive</li>
        <li>4WD/AWD cars, recreational vehicles (with selectable single axle drive)</li>
        <li>Race cars</li>
        <li>Sport utility vehicles</li>
        <li>Motor Cycles</li>
        <li>Light commercial vehicles under 9,900 lb</li>
    </ol>
    <b>Real time high resolution graphing including:</b>
    <ol><li>Horsepower</li>
        <li>Tractive Effort</li>
        <li>Torque</li>
        <li>Air:Fuel ratio</li>
        <li>Lambda</li>
        <li>Vacuum/Boost</li>
    </ol>   
    <p><b>High Speed AFR</b><br>
       Live monitoring of Air:Fuel ratio/Lambda and Vacuum/Boost.
    </p>
    <p><b>Constant Speed Mode</b><br>
       Dial in the speed you want.
    </p>
    <p><b>Constant Load Mode</b><br>
       Dial in the load you want.
    </p>
    <p><b>Variable Ramp Rate</b><br>
        Ramp Up-Hold-Down.  Dial in the desired acceleration.
    </p>
</div>