<div class="box b7column">
    <p>Our Dyno Dynamics 450 single axle portable dyno can be used with rear wheel drive, 
       front wheel drive, race cars, sports utility vehicles, go-karts, light commercial vehicles 
       "under 9900lbs" and motorcycles.
    </p>
    <br>
    <p><b>We're accepting submissions for the <%= DateTime.now.year %> season!<br><br>
          Please use the form to the right or call us at <%= PHONE %> for availability.
    </p>
</div>
<div class="box b5column">
    <%= render 'contact_us' %>
</div>
        