<div class="b5column box">
    <div class="inset faq_key">
        <ul><li><a href="#faq1">Who drives the car for the test?</a></li>
            <li><a href="#faq2">What does it measure?</a></li>
            <li><a href="#faq3">Why do a dyno run?</a></li>
            <li><a href="#faq4">How much does it cost?</a></li>
            <li><a href="#faq5">Can I make adjustments to see impact?</a></li>
            <li><a href="#faq6">Will you make adjustments to see impact?</a></li>
            <li><a href="#faq7">Can it damage my engine?</a></li>
            <li><a href="#faq8">Do you redline the engine?</a></li>
            <li><a href="#faq9">Who is responsible if something breaks during the test?</a></li>
            <li><a href="#faq10">I just installed a new 800hp engine, can you break it in for me?</a></li>
            <li><a href="#faq11">I have a large car collection, could you come to my facility and run each one?</a></li>
            <li><a href="#faq12">Can you do a dyno day for my club?</a></li>
            <li><a href="#faq13">Can you set up the dyno anywhere?</a></li>
            <li><a href="#faq14">What does the dyno need for power?</a></li>
        </ul>
    </div>
</div>
<div class="b7column box">
    <div class="faq">
        <p><a name="faq1">Who drives the car for the test?</a></p>
        <p>A factory trained dyno operator drives the car onto the dyno and runs the test.</p>
    </div>
    <div class="faq">
        <p><a name="faq2">What does it measure?</a></p>
        <p>The Dyno can measure the following:  
           Horsepower, torque, air/fuel ratio, boost, air intake temperature,
           fully integrated weather station measuring humidity, air temperature and isobaric pressure.
        </p>
    </div>
    <div class="faq">
        <p><a name="faq3">Why do a dyno run?</a></p>
        <p>To establish a baseline for your car or truck. Find out how much you've gained
            by adding that new air intake, headers, ECU flash or fuel injection.  You can also see 
            how your air/fuel ratio compares to your horsepower torque to make sure you've tuned 
            your car to its optimal efficiency.
        </p>
    </div>
    <div class="faq">
        <p><a name="faq4">How much does it cost?</a></p>
        <p>No two events or appointments are the same so "its best to email" or call for an accurate quote.</p>
    </div>
    <div class="faq">
        <p><a name="faq5">Can I make adjustments to see impact?</a></p>
        <p>Adjustments should be done with a scheduled tuning appointment, that way we can focus on just your car.</p>
    </div>
    <div class="faq">
        <p><a name="faq6">Will you make adjustments to see impact?</a></p>
        <p>Only when scheduled for a tuning appointment. </p>
    </div>
    <div class="faq">
        <p><a name="faq7">Can it damage my engine?</a></p>
        <p>The eddy current steady state dyno simulates road like conditions.  If your car is in 
           good working order then it should be no different than taking a spirited drive through the countryside. 
        </p>
    </div>
    <div class="faq">
        <p><a name="faq8">Do you redline the engine?</a></p>
        <p>We ask the customer how far they'd like us to run up the RPMs. Typically we run it 
           up until it stops producing horsepower, which is about 1500 RPM below redline for most.
        </p>
    </div>
    <div class="faq">
         <p><a name="faq9">Who is responsible if something breaks during the test?</a></p>
         <p>The dyno operator is not responsible for any damage to the automobile caused due to 
            engine or drive train failure.  Remember the dyno simulates real world conditions with 
            the vehicle accelerating to measure its performance.  You can specify a max RPM before the run begins.</p>
    </div>
    <div class="faq">
        <p><a name="faq10">I just installed a new 800hp engine, can you help break it in for me?</a></p>
        <p>Absolutely!  The steady state eddy current dyno can hold a specific speed, 
            load and ramp rate to maximize the ideal break in conditions for your specific motor and drive line.  
        </p>
    </div>
    <div class="faq">
        <p><a name="faq11">I have a large car collection, could you come to my facility and run each one?</a></p>
        <p>Absolutely!  We first warm up each car to optimal running temperature and then run a series
           of simulated driving conditions.  This ensures the car gets all fluids up to temp 
           and burns off any moisture in the engine and exhaust system.  Running your car on the dyno
           ensures no chipped paint, no risking accidents while driving on the road and minimal
           mileage on the car.  Upon request we also inspect all systems and report any 
           findings to your mechanic so when you take out the car it's 100% ready to go.
        </p>
    </div>
    <div class="faq">
        <p><a name="faq12">Can you do a dyno day for my club?</a></p>
        <p>Club events generally have a ten vehicle minimum.  All expectations and logistics 
           should be scheduled at least two weeks in advance.
        </p>
    </div>
    <div class="faq">
        <p><a name="faq13">Can you set up the dyno anywhere?</a></p>
        <p>The dyno requires a hard stable level surface to set up.  Concrete and asphalt 
           work best, but a one inch 4x12' steel plate or plywood will work in a pinch.
        </p>
    </div>
    <div class="faq">
         <p><a name="faq14">What does the dyno need for power?</a></p>
         <p>A 220V 60Htz power source should be available within 150' to 200'.  Generators can be 
            used if they produce an inverted 6000 Watt or higher pure sinewave powersource.  
            Email or call to confirm your site is suitable.
         </p>
    </div>
</div>